/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Fișiere generate de Visual Studio
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Fișiere sistem
.DS_Store
Thumbs.db